* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: #ededed;
    background-color: rgb(38, 36, 41);

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo a {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;

}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;

}

.home-content {
    max-width: 600px;
    padding-left: 10%;
}

.home-sci {
    padding-left: 10%;
}

.home-content h3 {
    font-size: 22px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 span {
    color: #0ef;

}

.home-content h1 {
    font-size: 35px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}
.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: #0ef;
    color: #001b29;
    box-shadow: 0 0 20px #0ef;

}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 10%;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #000;
    margin: 10% 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: borderAnimation 2s infinite;
    flex: 0 0 250px;
    position: static;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoomInOut 3s infinite alternate;
}
.about-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #000;
    margin: 10% 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotateAnimation 5s linear infinite;
    flex: 0 0 250px;
    position: static;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoomIn 3s infinite alternate;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes rotateAnimation{
    from {
        transform: rotate(-15deg);
    }
    to {
        transform: rotate(15deg);
    }
}
@keyframes zoomInOut {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(2);
    }

}

@keyframes borderAnimation {
    0% {
        border-color: rgb(232, 10, 143);
        box-shadow: 0 0 50px rgb(232, 10, 143);
    }

    25% {
        border-color: rgba(0, 168, 252, 0.662);
        box-shadow: 0 0 50px rgba(0, 168, 252, 0.662);
    }

    50% {
        border-color: rgb(12, 136, 12);
        box-shadow: 0 0 50px rgb(12, 136, 12);
    }

    75% {
        border-color: rgba(172, 172, 37, 0.913);
        box-shadow: 0 0 50px rgba(172, 172, 37, 0.913);
    }

    100% {
        border-color: rgb(204, 11, 150);
        box-shadow: 0 0 50px rgb(204, 11, 150);
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}